[submodule "external/abieos"]
	path = external/abieos
	url = https://github.com/fioprotocol/fio.abieos.git
	branch = feature/fio.chronicle-support
[submodule "external/leap"]
	path = external/leap
	url = https://github.com/AntelopeIO/leap.git
	branch = release/4.0
